<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>France Connect Stub</display-name>
    <description>France Connect Stub</description>
    <distributable />
    <servlet>
        <servlet-name>authorize</servlet-name>
        <servlet-class>fr.gouv.franceconnect.stub.api.Authorize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorize</servlet-name>
        <url-pattern>/api/v1/authorize</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>identify</servlet-name>
        <servlet-class>fr.gouv.franceconnect.stub.api.Identify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>identify</servlet-name>
        <url-pattern>/identify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>token</servlet-name>
        <servlet-class>fr.gouv.franceconnect.stub.api.Token</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>token</servlet-name>
        <url-pattern>/api/v1/token</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userinfo</servlet-name>
        <servlet-class>fr.gouv.franceconnect.stub.api.Userinfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/api/v1/userinfo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>fr.gouv.franceconnect.stub.api.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/api/v1/logout</url-pattern>
    </servlet-mapping>
</web-app>
